body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    max-width: 500px;
    overflow: hidden;
    border-radius: 20px;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(108, 105, 105)
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(108, 105, 105);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(188, 183, 183)

}
button:active{
    background-color: rgb(171, 157, 157)

}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(247, 188, 78);
}
.operator-btn:active{
    background-color: rgb(180, 145, 81);
}